@model IEnumerable<Model.Staff>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <input id="Button1" type="button" value="新增员工" class="btn btn-default" onclick="location.href='/Staff/StaffAdd'" />
    </p>
    <p>
        @using (Html.BeginForm())
        {
            <span>员工姓名：</span> <input id="Text1" type="text" name="name" />
            <span>员工编号：</span> <input id="Text1" type="text" name="no" />
            <span>员工部门：</span> @Html.DropDownList("bumenid", ViewBag.list as SelectList, "请选择")
            <span>员工职位：</span> @Html.DropDownList("zhiid", ViewBag.jobList as SelectList, "请选择")
            <input id="Submit1" type="submit" value="查询" />
        }

    </p>

    @foreach (var item in Model)
    {
        <div class="col-lg-4" >
            <table class="table" style="width:99%;height:50px;background-color:white;margin-left:5px;background-color:#fbebd7;text-align:center;">
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2" rowspan="5">
                        <img src="@item.StaffPhoto" alt="" style="width:100px;height:100px;border-radius:50%" />
                    </td>
                    <td class="auto-style1">
                        员工身份证:<span style="line-height:15px">@item.StaffCard.Substring(0, 6).....@item.StaffCard.Substring(item.StaffCard.Length - 4)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        员工性别:<span style="line-height:15px">@item.StaffSex</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        员工年龄:<span style="line-height:15px">@item.StaffAge</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        员工手机号码:<span style="line-height:15px">@item.StaffPhone</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        所属部门:<span style="line-height:15px">@item.DepartId</span>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        编号:<span style="line-height:15px">@item.StaffNo</span>
                    </td>
                    <td>
                        所属职位:<span style="line-height:15px">@item.JobId</span>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        姓名: <span style="line-height:15px">@item.StaffName</span>
                    </td>
                    <td>
                        入职时间: <span style="line-height:15px">@item.StartTime</span>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>
                        @Html.ActionLink("修改", "StaffGetById", new { id = item.StaffId }) |
                        @Html.ActionLink("删除", "StaffDelete", new { id = item.StaffId })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </div>
   }
    </body>
</html>
