@using MVC.Controllers
@model IEnumerable<Model.Leave>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>请假列表</h2>

<p>
    @Html.ActionLink("请假申请", "Add")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartLeaveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLeaveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuditName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLeaveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLeaveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditName)
            </td>
            <td>
                @{ StateInfo state = (StateInfo)Convert.ToInt32(item.LeaveState);}@state
                @if (state == StateInfo.待审核)
                {
                    @Html.ActionLink("审核", "Show", new { id = item.LeaveId })
                }
                else if (state == StateInfo.驳回)
                {
                    <a href="#">已驳回</a><a href="#">查看原因</a>
                }
                else
                {
                    <a href="#">已通过</a>
                }
            </td>
        </tr>
    }

</table>
