@model IEnumerable<Model.Job>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
   
</head>
<body>
    <p>
        <input id="Button1" type="button" value="添加" class="btn btn-default" onclick="location.href='/Job/JobAdd'" />
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobMoney)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobMoney)
            </td>
            <td>
                <input id="Button1" type="button" value="修改" class="btn btn-default" onclick="location.href='/Job/JobGetById/?id=@item.JobId'" />
                <input id="Button1" type="button" value="删除" class="btn btn-default" onclick="location.href='/Job/JobDelete/?id=@item.JobId'" />

            </td>
        </tr>
    }
    
    </table>
</body>
</html>
