@model IEnumerable<Model.Job>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("添加", "JobAdd")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobMoney)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobMoney)
            </td>
            <td>
                @Html.ActionLink("修改", "JobGetById", new { id=item.JobId }) |
                @Html.ActionLink("删除", "JobDelete", new { id=item.JobId },new { onclick="return confirm('确认删除吗?')"})
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
