@model Model.Job

@{
    if (Session["Job"].ToString().Contains("部长"))
    {
        Layout = "~/Views/Shared/Depart.cshtml";
    }
    else if (Session["Job"].ToString().Contains("组长"))
    {
        Layout = "~/Views/Shared/Group.cshtml";
    }
    else if (Session["Job"].ToString().Contains("组员"))
    {
        Layout = "~/Views/Shared/Crew.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobGetById</title>
</head>
<body>
    @using (Html.BeginForm("JobUpdate", "Job"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.JobId);
        <div class="form-horizontal">
            <h4>修改职位信息</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.JobId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.JobDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobDesc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobDesc, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.JobMoney, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobMoney, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobMoney, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
        <div>
            <input id="Button1" type="button" value="返回列表" class="btn btn-default" onclick="location.href='/Job/Index'" />
        </div>
</body>
</html>
