@model IEnumerable<Model.Depart>

@{
    if (Session["Job"].ToString().Contains("部长"))
    {
        Layout = "~/Views/Shared/Depart.cshtml";
    }
    else if (Session["Job"].ToString().Contains("组长"))
    {
        Layout = "~/Views/Shared/Group.cshtml";
    }
    else if (Session["Job"].ToString().Contains("组员"))
    {
        Layout = "~/Views/Shared/Crew.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Index";
}

<h2>部门信息</h2>

<p>
    <input id="Button1" type="button" value="新增部门" class="btn btn-default" onclick="location.href='/Depart/Add'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            <input id="Button1" type="button" value="修改" class="btn btn-default" onclick="location.href='/Depart/Edit/?id=@item.DepartId'" />
            <input id="Button1" type="button" value="删除" class="btn btn-default" onclick="location.href='/Depart/Delete/?id=@item.DepartId'" />
        </td>
    </tr>
}

</table>
